<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>

<body>
  <form action="/upload" enctype="multipart/form-data" method="post">
    <table border="0">
      <tbody>
        <tr>
          <td>From:</td>
          <td><input name="from" type="text"></td>
        </tr>

        <tr>
          <td>Files:</td>
          <td><input name="upload" type="file"></td>
        </tr>

        <tr>
          <td></td>
          <td><input name="upload2" type="file"></td>
        </tr>

        <tr>
          <td></td>
          <td><input name="upload3" type="file"></td>
        </tr>

        <tr>
          <td></td>
          <td><input name="upload4" type="file"></td>
        </tr>

        <tr>
          <td></td>
          <td><input name="upload5" type="file"></td>
        </tr>

        <tr>
          <td>&nbsp;</td>
        </tr>

        <tr>
          <td></td>
          <td><input type="submit" value="Upload"></td>
        </tr>

      </tbody>
    </table>
  </form>
</body>
</html>
